h1 {
    font-family: League spartan;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: double underline;
    text-decoration-color: teal;
    color: #ffa511;
    text-transform: uppercase;
}