div {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: greenyellow;
    margin: 10px auto;
    box-shadow: 2px 2px 8px black;
    background-image: url(image.jpg);
    background-size: cover;
}