h1 {
    text-align: center;
    text-decoration: wavy underline;
    text-decoration-color: red;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: normal;
    text-decoration: overline;
    text-decoration-color: blue;
    font-size: 15px;
}